# Database API
MONGODB_URI==mongodb+srv://<YOUR USER>:<YOUR PASSWORD>@<YOUR CLUSTER>.<YOUR DOMAIN>.mongodb.net/maintenance-dev?appName=<YOUR APP NAME>
PORT=8787

# Web API
VITE_API_URL=http://localhost:8787/api
